:root {
  --header-color: #101d46;
  --header-second-color: #2958c6;
  --header-third-color: #5fdcf4;
}

@media (min-width: 600px) {
  .header {
    flex-direction: row;
    padding: 0 30px;
    justify-content: space-between;
  }
}

nav {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

.header ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--header-color);
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.e3logo {
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 0 0.4rem;

  background: var(--header-second-color);
}

.logo {
  margin-top: 0.7rem;
  font-size: 2rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo img {
  width: 80px;
  margin-right: 1rem;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li :any-link {
  font-size: 1.5rem;
  text-decoration: none;
  margin-right: 1rem;
  padding: 0 0.4rem;
}

/* unvisited link */
li a:link {
  color: white;
}

/* visited link */
li a:visited {
  color: white;
}

/* mouse over link */
li a:hover {
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  background: var(--header-second-color);
}

li a:active {
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  background: var(--header-second-color);
}
