.search {
  margin: 2rem auto;
  font-size: 1.5rem;
}

.search_input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.search_input input {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.15rem 0.25rem;
  margin-left: 1rem;
}

.search_input input:focus {
  outline: none;
  border-color: #ff2058;
}

@media (min-width: 600px) {
  .search_input {
    flex-direction: row;
  }
}
